/*
vim:expandtab tabstop=2 shiftwidth=2

Umeå Kommun Riktlinjer:
http://umea.se/download/18.65abf0f6128091dbd4b80001977/Umeakommun_Riktlinjer.pdf

=== Primära färger ===
grön
RGB: 0.96.39

svart
RGB: 0.0.0

=== Kompletterande färger ===
grå
RGB: 132.119.131

gul
RGB: 227.183.53

orange
RGB: 216.149.35

brandgul
RGB: 196.164.39

mörkröd
RGB: 148.33.45

brun
RGB: 156.50.5

bege
RGB: 196.157.88

mörkgrön
RGB: 134.144.56

blå
RGB: 8.79.130

=== Fonter ===
Frutiger - Rubriker, ingreser, aldrig kursiv.
Garamond - löptext, aldrig rubriker

The orange Umea kommun uses is kind of wierd, so this is one that Dan choose:
rgb(204,102,0)

*/

h1, h2, h3, h4, h5 {
  font-family: 'myriad-pro','Frutiger', serif, 'Arial';
}

.header.outer {
  background-color: black;
  background-image: inherit;
            filter: inherit;
}

.header.outer.home {
  margin-bottom: auto;
  border-bottom: none;
  box-shadow: none;
}

/* remove any logo in the header */
.header #logo {
  display: none;
}

.header #site-name, .header #site-description {
/*  font-size: 1.4em; */
  font-family: 'myriad-pro','Frutiger', serif, 'Arial';
  padding: 0px;
/*
  padding-left: 0px;
  padding-bottom: 0px; */
  /*font-weight: bold;*/
  /*color: #333;*/
  text-shadow: none;
/*  text-shadow: 1px 1px 3px #ccc;
  line-height: 1.3; */
}
.header #site-name a {
  color: rgb(204,102,0);
  font-size: 1.8em;
}
.header #site-description {
  color: white;
}

.header .menu a{
  font-family: 'myriad-pro', 'Frutiger', serif, 'Arial';
  font-weight: normal;
  color: white;
  text-shadow: none;
  /* is there a better way? */
  line-height: 60px;
  padding-right: 20px;
}

div.submenu {
  background-color: #e6e6e6;
  background-image: url(/images/fabric_1.png);
}

div.submenu form {
  margin: inherit;
}

#menusearch input {
  background-image: url(/images/Search.png);
  background-position: 98% center;
  background-repeat: no-repeat;
  background-color: white;
  width: 590px;
  font-size: 1.0em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}

#menutabs ul {
  margin-bottom: auto;
  font-size: 1.2em;
  margin-top: 1.0em;
}

div.divider-vertical{
  width: 2px;
  height: 50px;
  margin-left: 0px;
  margin-right: -2px;
  overflow: hidden;
  float: left;
  background-color: #bbbbbb;
  background-image: -webkit-linear-gradient(top, #e6e6e6, #bbbbbb, #e6e6e6);
  background-image: -moz-linear-gradient(top, #e6e6e6, #bbbbbb, #e6e6e6);
  background-image: -ms-linear-gradient(top, #e6e6e6, #bbbbbb, #e6e6e6);
  background-image: -o-linear-gradient(top, #e6e6e6, #bbbbbb, #e6e6e6);
  background-image: linear-gradient(to bottom, #e6e6e6, #bbbbbb, #e6e6e6);
}

#minornavigation .nav {
  background-color: #e6e6e6;
  background-image: url(/images/fabric_1.png);
            filter: inherit;
}

body,p {
  /*
  font-family: 'adobe-garamond-pro', 'Garamond', 'Times';
  */
  font-family: 'myriad-pro','Frutiger', serif, 'Arial';
  color: black;
  height: inherit;
}

body.index.home .front-page .action-box {
  background: #e6e6e6;
  background-image: url(/images/fabric_1.png);
  border-radius: 5px;
}

body.index.home .front-page .action-box-inner input {
  border-radius: 5px;
  font-size: 1em;
}

#wrap {
  min-height: 80%;
}
a, a:visited, a:hover {
  color: rgb(204,102,0);
}
.btn-primary {
  background-color: rgb(148,33,45);
  background-image: inherit;
}
.btn-primary:hover {
  background-color: rgb(148,33,45);
  background-image: inherit;
}

.footer.outer {
  border-top: none;
  background-color: #e6e6e6;
  background-image: url(/images/fabric_1.png);
}

.footer a,.footer a:visited{
  color: black;
}

.content-outer .page_heading {
  color: white;
  height: 300px;
  z-index: 1;
  margin-top: 100px;
  text-shadow: 1px 1px 3px black;
}

.content-outer .page_heading_backround {
  background-image: url(/images/125143607_01.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  right: 50%;
  margin-right: -150px;
  margin-left: 0px;
  height: 404px;
  z-index: -1;
}

@media all and (max-width:940px) {
  .content-outer .page_heading_backround {
    right: initial;
    width: 619px;
    margin-right: 0px;
  }
}
