/*
vim:expandtab tabstop=2 shiftwidth=2

Umeå Kommun Riktlinjer:
http://umea.se/download/18.65abf0f6128091dbd4b80001977/Umeakommun_Riktlinjer.pdf

=== Primära färger ===
grön
RGB: 0.96.39

svart
RGB: 0.0.0

=== Kompletterande färger ===
grå
RGB: 132.119.131

gul
RGB: 227.183.53

orange
RGB: 216.149.35

brandgul
RGB: 196.164.39

mörkröd
RGB: 148.33.45

brun
RGB: 156.50.5

bege
RGB: 196.157.88

mörkgrön
RGB: 134.144.56

blå
RGB: 8.79.130

=== Fonter ===
Frutiger - Rubriker, ingreser, aldrig kursiv.
Garamond - löptext, aldrig rubriker

*/

h1, h2, h3, h4, h5 {
  font-family: 'Frutiger', serif, 'Arial';
  font-weight: normal;
  margin-bottom: 10px;
}

.header.outer {
  background-color: black;
  background-image: none;
}

/* remove any logo in the header */
header #logo {
  display: none;
}

header #site-name,#site-description {
/*  font-size: 1.4em; */
  font-family: 'Frutiger', serif, 'Arial';
  padding: 0px;
/*
  padding-left: 0px;
  padding-bottom: 0px; */
  /*font-weight: bold;*/
  /*color: #333;*/
  color: rgb(216,149,35);
  text-shadow: none;
/*  text-shadow: 1px 1px 3px #ccc;
  line-height: 1.3; */
}
header #site-name a {
  color: inherit;
  font-size: 1.8em;
}
header #site-description {
  color: white;
}

header .menu a{
  font-family: 'Frutiger', serif, 'Arial';
  font-size: 1.0em;
  color: rgb(255,255,255);
  text-shadow: none;
  /* is there a better way? */
  line-height: 60px;
  padding-right: 20px;
}

div.submenu {
  background-color: #e6e6e6;
}

div.submenu form {
  margin: inherit;
}

#menusearch input {
  background: url(/images/Search.png) no-repeat scroll 7px 7px;
  padding-left: 30px;
  background-color: white;
}

body {
  font-family: 'Garamond', 'Times';
  color: black;
  height: inherit;
}

body.index.home .front-page .action-box {
  background-color: initial;
  box-shadow: rgb(185,185,185) 0 1px 15px;
  -moz-box-shadow: rgb(185,185,185) 0 1px 15px;
  -webkit-box-shadow: rgb(185,185,185) 0 1px 15px;
}
  
#wrap {
  min-height: 80%;
}

a, a:visited {
  color: rgb(216,149,35);
}

a:hover {
  color: #e6e6e6;
}

.filter-list {
  background-color: rgb(196,164,39);
}

.btn-primary {
  background-color: rgb(148,33,45);
  background-image: none;
}

.footer.outer {
  border-top: none;
  background-color: #e6e6e6;
  background-image: none;
/*  background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff); */
/*  bottom: 0px; */
/*  position: absolute;
  width: 100%; */

/*
  background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -ms-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: linear-gradient(top, #e6e6e6, #ffffff);
  fromilter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
*/
}

.footer a,.footer a:visited{
  color: black;
}
