<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
      <link href="/css/openumea.css" rel="stylesheet" type="text/css" />
      <link href="http://fonts.googleapis.com/css?family=Garamond" rel="stylesheet" type="text/css" />
    </head>
  </py:match>

  <py:match path='body/div[@id="wrap"]/div/header' once="true">
    <header py:attrs="select('@*')">
      <div class="row">
        <div class="span4">
          <div id="site-name"><a href="${h.url('home')}">${g.site_title}</a></div>
          <div py:if="g.site_description" id="site-description">${g.site_description}</div>
        </div>
        <div class="span8 menu">
          ${h.nav_link(_('About'), controller='home', action='about')}
          <span py:if="h.check_access('package_create')">${h.nav_link(_('Add a dataset'), controller='package', action='new')}</span>
          ${h.nav_named_link(_('Groups'), name='%s_index' % h.default_group_type() )}
          ${h.nav_link(_('Search'), controller='package', action='search', highlight_actions = 'new index')}

          <span class="ckan-logged-in" style="display: none;">
            <a href="${h.url_for(controller='user',action='me')}">${h.gravatar((c.userobj.email_hash if c and c.userobj else ''),size=20)}${c.user}</a>
            <a href="${h.url_for('/user/_logout')}">Logout</a>
          </span>
          <span class="ckan-logged-out">
            <a href="${h.url_for(controller='user',action='login')}">Login</a>
            <a href="${h.url_for(controller='user',action='register')}">Register</a>
          </span>
        </div>
      </div>
    </header>
    <div class="submenu">
      <div class="container">
        <div class="row">
            <div class="span9">
              <span id="menusearch">
                <form action="${h.url(controller='package', action='search')}" method="GET">
                  <input name="q" value="${c.q if hasattr(c, 'q') else ''}" class="search" placeholder="${_('Find datasets')}" style="background: url(/img/find.png) no-repeat scroll 7px 7px; padding-left:30px;"/>
		  <!--<img src="/img/find.png" style="float: left"/>-->
                </form>
              </span>
            </div>
            <div class="span3">
<!--
          <div class="row">
            <div class="span1">Latest datasets</div>
            <div class="span1">Groups</div>
            <div class="span1">Tags</div>
          </div>
-->
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
Howdy, I'm in Section 2.
<br/>
<br/>
<br/>
And im going to make this one a long one!
</p>
    </div>
  </div>
</div>
              </div>
        </div>
      </div>
    </div>
  </py:match>

  <py:match path="//footer/div" once="true">
    <div py:attrs="select('@*')">
      ${select('div[1]')}
      <div class="span2">
        ${select('div[2]/*')}
      </div>
      <div class="span2">
        ${select('div[3]/*')}
      </div>
      ${select('div[4]')}
      <div class="span2" style="float:right">
        <a href="${h.url('home')}">
          <img width="64" src="${h.url_for_static(g.site_logo)}" alt="${g.site_title} Logo" title="${g.site_title} Logo" id="logo" />
        </a>
      </div>
    </div>
  </py:match>

  <xi:include href="layout_base.html" />
</html>
<!--
vim:expandtab tabstop=2 shiftwidth=2
-->
